* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.left {
  width: 20%;
  background-color: red;
  position: sticky;
  height: 100vh;
  overflow-y: auto;
  top: 0;
}
.left > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.left > ul > li {
  list-style: none;
  padding-top: 20px;
}
.right {
  width: 80%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: blueviolet;
  height: 50px; /*height*/
}
.nav-left{
    display: flex;
    gap: 20px;
}

.hero {
  display: flex;
  background-color: rgb(96, 192, 96);
  height: 100px; /*height*/
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards > div {
  background-color: burlywood;
  margin: 10px;
  width: calc(25% - 20px);
  min-width: 200px;
  height: 50px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.boxes {
  display: flex;
  margin: 10px;
  gap: 20px;
}
.box {
  background-color: seagreen;
  height: 100px;
}
.box-1 {
  width: 50%;
  height: 200px;
}

.box-bottom {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#toggle-btn , .close , .open{
    display: none;
}
/* Mobile Screen */
@media (max-width: 600px) {
  .left {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50%;
  }
  .right {
    width: 100%;
    position: relative;
  }
  .close , .open{
    display: block;
}
.close{
    text-align: right;
    padding:20px;
}

#toggle-btn:checked ~ .left{
    display: block;
}

  
  
}
