*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 800px;
    margin: auto;
}

.header{
    background-color: blue;
    height:50px;
}
.navbar{
    background-color: red;
    height:50px;
    margin: auto;
}

.section-1{
    height:300px;
    background-color: rgb(36, 155, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.video{
    background-color: gray;
    width:40%;
    height:250px;
}

.text{
    background-color: gray;
    width:40%;
    height:250px;
}

.section-2{
    background-color: rgb(230, 230, 57);
    height:400px;
    display: flex;
    padding:20px;
}
.right{
    width:50%;
    background-color: aqua;
    
}

.left{
    width:50%;
    background-color: gray;
}

.box-2{
    width:100%;
    height:160px;
    background-color: red;
}
.box-3{
    width:50%;
    height:200px;
    background-color: blue;
}
.left-bottom{
    display: flex;
    width:100%;
}
.left-sub-bottom{
    width:50%;
}
.box-4{
    width:100%;
    height:100px;
    background-color: green;
}
.box-5{
    width:100%;
    height:100px;
    background-color: yellowgreen;
}
