* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  background-color: aqua;
  align-items: start;
  width: 100%;
  display: flex;
}

.child-1,
.child-2,
.child-3,
.child-4 {
  width: 25%;
  height: 500px;
}
.child-1 > div,
.child-2 > div,
.child-3 > div,
.child-4 > div {
  border: 2px solid black;

  background-color: red;
}
.box-1,
.box-4 {
  height: 200px;
}

.box-2,
.box-3 {
  height: 300px;
}

.box-5 {
  height: 100px;
}

.box-6 {
  height: 400px;
}

.box-7 {
  height: 350px;
}

.box-8 {
  height: 150px;
}
