* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  max-width: 800px;
  margin: auto;
  height: 100vh;
  margin-bottom: 50px;
}

.logo {
  background-color: gray;
  height: 10%;
  margin-bottom: 20px;
}

.header {
  background-color: gray;
  margin-bottom: 20px;
  height: 10%;
}

nav {
  display: flex;
  gap: 10px;
  height: 10%;
  margin-bottom: 20px;
}

nav > div {
  background-color: gray;
  width: 25%;
}

section {
  display: flex;
  height: 50%;
  gap: 20px;
  margin-bottom: 20px;
}

.about {
  width: 50%;
  background-color: gray;
}
.links {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links > div {
  background-color: gray;
  height: 50%;
}

footer {
  background-color: gray;
  height: 10%;
}
