* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}

.parent {
  width: 80%;
  background-color: gray;
  height: 500px;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
  margin: 10px auto;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right-bottom {
  display: flex;
  gap: 20px;
  width: 100%;
}
.right-child-bottom {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-1 {
  background-color: yellow;
  height: 400px;
}

.box-2 {
  background-color: red;
  height: 200px;
}

.box-3 {
  background-color: blue;
  width: 50%;
  height: 200px;
}

.box-4-a {
  background-color: rgb(0, 255, 0);
  height: 50%;
}

.box-4-b {
  background-color: rgb(255, 0, 200);
  height: 50%;
}
