* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  max-width: 1000px;
  margin: auto;
  color: white;
}

nav {
  display: flex;
  height: 100px;
}

.header {
  width: 30%;
  background-color: #0f1629;
}

.menu {
  background-color: #ef3c4d;
  width: 70%;
}

.hero {
  background-color: #4c86c6;
  height: calc(100vh - 100px);
}

.about {
  height: 50vh;
  display: flex;
}
.responsive-menu {
  background-color: #ef3c4d;
  display: none;
}

.main {
  width: 50%;
  background-color: #24344b;
}

.about-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 50%;
  height: 50vh;
}
.image {
  background-color: #c1e4e6;
  height: 25vh;
  width: 50%;
}

.extra {
  background-color: #4dbd97;
  height: 25vh;
  width: 50%;
}

.banner {
  background-color: #ffd169;
  height: 50vh;
}

.banner-responsive {
  display: none;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  .header {
    width: 100%;
    height: 100px;
  }

  .menu {
    display: none;
  }
  .main {
    width: 100%;
    height: 80vh;
  }
  .responsive-menu {
    background-color: #ef3c4d;
    display: block;
  }

  .about {
    flex-direction: column;
  }
  .about-right {
    flex-direction: row;
    width: 100%;
    height: 50vh;
  }
  .image {
    width: 100%;
  }

  .extra {
    width: 100%;
  }
  .responsive {
    display: flex;
  }
  .responsive-menu {
    width: 30%;
  }
  .responsive-about {
    width: 70%;
  }
  .banner-responsive {
    display: flex;
    height: 50vh;
    background-color: #ffd169;
  }
  .banner {
    display: none;
  }
}
