* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secondary-color: #f0f0f0;
  --primray-color: white;
}

.dark {
  --secondary-color: #0f0e16;
  --primray-color: #17141d;
  --text-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  height: 100vh;
}

.container > div {
  background-color: var(--primray-color);
  width: 400px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  color: var(--text-color);
}
